
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.container-fluid{
  margin:auto;
  padding: 0 60px;
}
.header{
  background: lavender;
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 10;
}

.header-menu{
  display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.header-menu img {
  width: 100%;
  height: 100%;
}

.header-logo {
  width: 100px;
  height: 40px;
}

.nav {
  display: flex;
  list-style: none;
  margin-left: -25px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  display: block;
  padding: 2px 5px;
  font-size: 90%;
  font-weight: 600;
  color: rgb(48, 45, 45);
  border-bottom: 3px solid transparent;
  line-height: 55px;
}

.nav a:hover {
  color: #3399cc;
  border-bottom: 3px solid #3399cc;
}

.header-icon {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  position: relative;
}

.text {
  position: absolute;
  top: -15px;
  left: -300%;
  font-size: 16px;
  background: #444444;
  color: #D7D7D7;
  padding: 10px 10px;
  border-radius: 5px;
  width: 220px;
  opacity: 0;
  visibility: hidden;
  border: none;
  transition: 0.4s;
  outline: none;
}
.addtext {
  left: -390%;
  opacity: 1;
  visibility: visible;
}

.search {
  color: red;
  font-size: 18px;
  z-index: 3;
  position: absolute;
  top:0;
}

#toggle{
  display: none;
}
.toggle-right{
  margin-left: 10px;
  cursor: pointer;
}
@media (max-width: 1140px) {
  .header-menu ul {
    display: none;
  }
  #toggle{
      display: block;
      cursor: pointer;
  }
}
.menu-list {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #141329;
  color: #fff;
  padding-left: 25px;
  transition: 0.4s;
  top: 60px;
  z-index: 100;
  padding-top: 10px;
  opacity: 0;
  visibility: hidden;
}

.row1 {
  display: flex;
}

.row1 ul {
  width: 100%;
}

.row1 li {
  list-style: none;
}

.row1 a {
  text-decoration: none;
  font-size: 14px;
}

.row1 h4 {
  font-size: 20px;
}

h4::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 12px;
  margin-right: 5px;
  transform: skew(-20deg);
  background-color: #dd3333;
}

.addList {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .row1 a {
    display: none;
  }

  .row1 h4 {
    font-size: 16px;
  }
}

.sec1 {
  padding-top: 65px;
}
.listNew{
  display: flex;
  flex-direction: row;
  gap:20px
}
.listNew1,.listNew2 {
  height: 600px;
}
.listNew3 {
  height: 200px;
}

ul {
  list-style: none;
}
.col1 img {
  height: 90px;
}

.col1 ul {
  padding: 0;
}

.col1 a {
  text-decoration: none;
  display: block;
  padding-left: 10px;
  font-size: 15px;
  color:black
}

.col1 li {
  display: flex;
  margin-bottom: 30px;
  border-top: 1px solid lightgrey;
}

.col2 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.col2 h1 {
  font-size: 30px;
  padding: 10px 0;
}

.col2 p {
  font-size: 16px;
}

.col2 ul {
  list-style: outside;
  font-size: 14px;
}

.col3 img {
  width: 100%;
  height: 100%;
}
.col3 ul {
  padding: 0;
}
.col3 a {
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

@media (max-width: 991px) {
  .col-md-5 {
    order: 2;
  }
  .col-md-7 {
    order: 1;
  }
  .listNew3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .listNew{
      display: flex;
      flex-direction: column;
  }
}
@media (max-width: 1279px) {
  .header-menu {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: 1140px) {
  .header-menu {
    width: 90%;
    margin-left: 50px;
  }

  .header-menu ul {
    display: none;
  }

  .toggle {
    order: 1;
    margin-left: 40px;
  }

  .header-logo {
    order: 2;
  }

  .header-icon {
    order: 3;
  }
}
.menu-list {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #141329;
  color: #fff;
  padding-left: 25px;
  transition: 0.4s;
  top: 60px;
  z-index: 100;
  padding-top: 10px;
  opacity: 0;
  visibility: hidden;
}

.row1 {
  display: flex;
}

.row1 ul {
  width: 100%;
}

.row1 li {
  list-style: none;
}

.row1 a {
  text-decoration: none;
  font-size: 14px;
}

.row1 h4 {
  font-size: 20px;
}

h4::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 12px;
  margin-right: 5px;
  transform: skew(-20deg);
  background-color: #dd3333;
}

.addList {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 768px) {
  .row1 a {
    display: none;
  }

  .row1 h4 {
    font-size: 16px;
  }
}
.a {
  width: 100%;
  height: 600px;
}

.b {
  width: 100%;
  height: 600px;
}

.c {
  width: 100%;
  height: 200px;
}

.d {
  width: 100%;
  height: 60%;
  background: blue;
}

.e {
  width: 100%;
  height: 100%;
  /* background: lawngreen; */
}

.f {
  width: 100%;
  height: 200px;
  /* background: lavender; */
}

.q {
  width: 50%;
  height: 200px;
  /* background: black; */
  margin-bottom: 75px;
}

.w {
  width: 50%;
  height: 200px;
  /* background: lavender; */
}

.t {
  width: 50%;
  height: 200px;
  /* background: red; */
}

.r {
  width: 50%;
  height: 200px;
  /* background: yellow; */
}

ul {
  list-style: none;
}

button {
  display: none;
}

.slider {
  width: 90%;
  margin: 20px auto;
  padding-left: 20px;
  position: relative;
}

.arrow {
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  z-index: 1;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.priv_arrow {
  left: 0%;
}

.priv_next {
  right: 0%;
}

.item {
  margin-right: 20px;
  height: 250px;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  height: 60%;
  margin-bottom: 10px;
}

.slider p {
  font-weight: 600;
  font-size: 15px;
  padding: 0 10px;
}

.section2-menu {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #ffde76;
}

.section2-menu ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.section2-menu a {
  text-decoration: none;
  display: block;
  padding: 3px 6px;
  line-height: 70px;
}

.section2-menu h3 {
  line-height: 70px;
  font-size: 22px;
  margin-left: 20px;
}

.section2-menu h3::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 16px;
  margin-right: 5px;
  transform: skew(-20deg);
  background-color: #dd3333;
}

.section2-news {
  background-color: #ffde76;
  margin: 0;
  height: 580px;
  padding: 0 15px;
}

.section2-news-left img {
  width: 100%;
  height: 430px;
  object-fit: cover;
}

.section2-news-left h3 {
  font-size: 22px;
  margin-top: 15px;
}

.small img {
  width: 100%;
  height: 100%;
}

.small h3 {
  font-size: 16px;
}

.news-right {
  padding: 0;
}

.col2 img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.col2 h1 {
  font-size: 30px;
  padding: 10px 0;
}

.col2 p {
  font-size: 16px;
}

.col2 ul {
  list-style: outside;
  font-size: 14px;
}

.col1 img {
  height: 90px;
}

.col1 ul {
  padding: 0;
}

.col1 a {
  text-decoration: none;
  display: block;
  padding-left: 10px;
  font-size: 15px;
}

.col1 li {
  display: flex;
  margin-bottom: 30px;
  border-top: 1px solid lightgrey;
}

.col3 img {
  width: 100%;
  height: 100%;
}

.col3 ul {
  padding: 0;
}

.col3 a {
  text-decoration: none;
  display: block;
  padding: 10px 0;
}

.list-left {
  height: 800px;
}

.list-left ul {
  padding: 0;
}

.list-left li {
  display: flex;
  height: 200px;
  border-top: 1px solid lightgray;
}

.list-left img {
  width: 300px;
  height: 180px;
}

.list-left .inf {
  width: 500px;
  padding-left: 15px;
}

.list-left a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgb(41, 39, 39);
}

.list-left p {
  font-size: 14px;
}

.list-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: 1s;
}

.list-right h3 {
  font-size: 20px;
  padding: 10px 0;
}

.list-right .inf-seagame {
  margin-bottom: 20px;
  width: 100%;
}

.list-right .inf-seagame .hinhanh {
  overflow: hidden;
}

.list-right img:hover {
  transform: scale(1.5);
}

@media (max-width: 992px) {
  .list-right {
    display: none;
  }

  .list-left {
    width: 100%;
  }

  .list-left .inf {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .list-left li {
    margin-bottom: -10px;
  }

  .list-left img {
    width: 250px;
    height: 160px;
  }

  .list-left a {
    font-size: 18px;
  }

  .list-left p {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .list-left p {
    display: none;
  }

  .list-left .inf {
    width: 250px;
  }

  .list-left img {
    width: 150px;
    height: 120px;
  }

  .list-left a {
    font-size: 16px;
  }

  .list-left li {
    margin-bottom: -50px;
  }
}
@media (max-width: 991px) {
  .col-md-5 {
    order: 2;
  }

  .col-md-7 {
    order: 1;
  }

  .c {
    display: none;
  }

  .section2-menu ul {
    display: none;
  }

  .section2-news-left {
    height: 400px;
  }

  .section2-news {
    height: 1100px;
  }

  .section2-news-right {
    margin-top: 70px;
  }
}
.danhsach {
  height: 1600px;
}

.section3 {
  border-top: 2px solid grey;
  margin-top: 30px;
  padding: 30;
}

.tuan {
  margin-top: 20px;
}

.section3 h3 {
  font-size: 22px;
}

.section3 h3::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 16px;
  margin-right: 5px;
  transform: skew(-20deg);
  background-color: #dd3333;
}

.section3 ul {
  padding: 0;
}

.section3 li {
  list-style: none;
  margin-bottom: 20px;
}

.section3 a {
  display: block;
  text-decoration: none;
  color: #333;
}

.section3 li:nth-child(2), li:nth-child(3) {
  display: flex;
}

.section3 .item10 {
  height: 250px;
}

.section3 .item10 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  /* margin-bottom: 5px; */
}

.section3 .item20 {
  height: 100px;
  border-top: 1px solid lightgray;
  overflow: hidden;
  /* margin-top: 10px; */
}

.section3 .item20 a {
  display: block;
  font-size: 14px;
  padding-left: 5px;
  padding-top: 20px;
}

.section3 .item20 img {
  width: 120px;
  height: 90px;
  padding-top: 20px;
}

@media (max-width: 768px) {
  .danhsach {
    height: 1500px;
  }

  .section3 {
    padding: 0 12px;
  }
}
@media (max-width: 576px) {
  .danhsach {
    height: 1200px;
  }

  .section3 {
    padding: 0 24px;
  }
}
.section-title {
  width: 100%;
  height: 45px;
  background: lavender;
  padding-left: 55px;
  padding-top: 20px;
}

.section-title h4 {
  font-size: 24px;
}

.section-title h4::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 16px;
  margin-right: 5px;
  transform: skew(-20deg);
  background-color: #dd3333;
}

.section-magazine {
  padding: 25px 50px 20px 50px;
  background: lavender;
  margin: 0;
  width: 100%;
}

.item-magazine {
  position: relative;
  width: 300px;
  height: 450px;
  overflow: hidden;
  margin-right: 20px;
}

.item-magazine img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: 2.5s;
}

.item-magazine:hover img {
  transform: scale(1.2);
}

.item-magazine .foggy {
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
  z-index: 1;
}

.item-magazine .kyhieu {
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  height: 25px;
  border-radius: 0 0 5px 5px;
  background: #ffde76;
  z-index: 2;
  transform: translateX(-50%);
}
.item-magazine span {
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}

.item-magazine .title span {
  position: absolute;
  top: 250px;
  left: 50%;
  z-index: 2;
  color: white;
  transform: translateX(-50%);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  width: 220px;
  height: 150px;
}

.title span::before {
  content: "";
  width: 60px;
  height: 5px;
  background: #ffde76;
  position: absolute;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
  top: -15%;
}

.item-magazine:hover .title span {
  color: #ffde76;
}
@media (max-width:992px) {
  .title span{
    font-size: 20px;
  }
}
.item-magazine .type-icon {
  position: absolute;
  top: 350px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  z-index: 2;
  background: rgb(20, 20, 20);
  text-align: center;
}

.item-magazine:hover .type-icon {
  background-color: #ffde76;
}

.item-magazine .type-icon i {
  margin-top: 15px;
}

.item-magazine:hover i {
  color: black;
}

.arrow1 {
  border: 1px solid grey;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  z-index: 1;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
}

.priv_arrow1 {
  left: 2%;
}

.priv_next1 {
  right: 3.5%;
}

.footer1 {
  width: 100%;
  height: 180px;
  background: lavender;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 50px 10px 50px;
}

.footer1 p {
  font-size: 12px;
  margin-bottom: 6px;
}

@media (max-width: 991px) {
  .footer1 {
    flex-direction: column;
    text-align: center;
    height: 235px;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
